<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="api, calculo, web" />
    <meta name="description" content="Teste da api contabil" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/app/frontend/static/style.css" />
    <title>...</title>
  </head>
  <body class="position-relative">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="">
          <img
            src="/app/frontend/static/img/home1.svg"
            alt="...."
            width="30"
            height="24"
          />
        </a>
      </div>
    </nav>
    <br />
    <br />
    <main class="position-absolute top-50 start-50 translate-middle">
      <div>
        <h2 class="text-center">Bem vindo a APIContabil</h2>
        <p class="text-center">
          Esse é um teste da APIContabil, utilize /docs para ter acesso as
          operações contabeis
        </p>
      </div>
    </main>

    <footer></footer>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"
  ></script>
</html>
